## Data Question 4: Nashville COVID-19 Violations

In this project, you will explore COVID-19 violations reported to hubNashville, Metro Nashville government's comprehensive customer service system.

In [1]:
import requests
import pandas as pd


### Part 1:
Gather the dataset of hubNashville requests from https://data.nashville.gov/Public-Services/hubNashville-311-Service-Requests/7qhx-rexh. For this project, you should look at requests with Request Type of "COVID-19" and Subrequest Type of "COVID-19 Violations". Explore this dataset, looking at when and where these violations occurred.

In [2]:
# url = 'https://data.nashville.gov/resource/7qhx-rexh.json'
# response = requests.get(url)

In [10]:
data=pd.read_csv('data/hubNashville__311__Service_Requests.csv');

C:\Users\duant\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
data.head(2)

,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,System of Origin ID,Contact Type,...,State Issue,Parent Request,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
0,113016,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Request an Additional Cart,10/30/2018 01:47:00 PM,03/05/2019 09:35:00 PM,Phone,NaN,NaN,...,False,NaN,False,2009 Upland Dr,NASHVILLE,7.0,37216,36.198638,-86.706659,"(36.1986378, -86.7066586)"
1,53502,Closed,Property Violations,Residential Complaint,Residential Complaint,03/13/2018 09:34:50 PM,04/06/2018 01:13:32 PM,Phone,NaN,NaN,...,False,NaN,False,631 Murfreesboro Pike,NASHVILLE,17.0,37210,36.140070,-86.738360,"(36.14007, -86.73836)"

In [14]:
violation = data[(data['Request Type']=='COVID-19')&(data['Subrequest Type']=='COVID-19 Violations')]

In [18]:
violation.tail(2)

,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,System of Origin ID,Contact Type,...,State Issue,Parent Request,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
479105,492410,Closed,COVID-19,COVID-19 Violations,COVID-19 Violations,10/30/2020 09:47:56 PM,11/02/2020 03:50:18 PM,Phone,NaN,NaN,...,False,NaN,False,2408 Music Valley Dr,NASHVILLE,15.0,37214,36.218240,-86.697950,"(36.21824, -86.69795)"
479249,491755,Closed,COVID-19,COVID-19 Violations,COVID-19 Violations,10/30/2020 03:50:56 AM,10/30/2020 01:57:59 PM,hubNashville Community,NaN,NaN,...,False,NaN,False,2500 Charlotte Ave,NASHVILLE,21.0,37209,36.155145,-86.814101,"(36.155145311603604, -86.8141005932541)"

In [19]:
violation.shape

(11632, 21)

### Part 2:
The file davidson_cases.csv contains the number of COVID cases in Davidson county per day from March 8 through October 29. Use this dataset to compare the trend for the number of cases over time to the number of reported violations. Feel free to add any additional data that you think might be useful.

In [22]:
davidson_cases=pd.read_csv('data/davidson_cases.csv');

In [25]:
davidson_cases.head(5)

         date    county      state   fips  cases  deaths
0  2020-03-08  Davidson  Tennessee  47037      1       0
1  2020-03-09  Davidson  Tennessee  47037      1       0
2  2020-03-10  Davidson  Tennessee  47037      1       0
3  2020-03-11  Davidson  Tennessee  47037      2       0
4  2020-03-12  Davidson  Tennessee  47037      6       0


### Part 3:
The Metro Public Health Department tracks COVID-19 clusters. The files `clusters.csv` and `clusters_by_type.csv` contain the tables of clusters as reported by [WSMV](https://www.wsmv.com/news/metro-health-releases-latest-covid-19-clusters/article_ef554e08-1558-11eb-b290-873345e174d7.html) along with the coordinates of the clusters. Can you find any connection between the reported COVID violations and subsequent COVID clusters?

In [27]:
clusters=pd.read_csv('data/clusters.csv');

In [28]:
clusters.head(2)

,Cluster Name,Facility Type,Cluster Start Date,# Cases,Latitude,Longitude
0,Vanderbilt Parties,Social Gathering,3/11/2020,49,36.125891,-86.822863
1,Event at Clementine Hall,Social Gathering,3/14/2020,23,36.152444,-86.8467716

### Part 4:
The dataset from data.nashville.gov includes geospatial information, which allows you to see where violations occurred geographically, but it does not provide information in regard to the specific businesses that were reported. In this part, you should explore the  businesses and types of businesses that have been reported. To attempt to answer this, you have been provided data from the [Google Places API](https://developers.google.com/places/web-service/overview). Each file is formatted as a json. The values are as follows:
* `mapped_location`: The mapped location from the hubNashville dataset
* `address`: The address from the hubNashville dataset
* `results`: The first five results from a Google Maps API nearbysearch, ranked by proximity to the Mapped Location. See https://developers.google.com/places/web-service/search#PlaceSearchResponses for more details on the fields in the results.

Take these results and use them to match as many violations as possible to a business. **Warning:** it will not be possible to match all violations to a business, and there will be ambiguities when trying to do this match, so do not spend all of your time on this task.
What do you find when you look into the types of businesses that have been reported for COVID violations?

In [60]:
import glob
import json
from pandas.io.json import json_normalize

In [36]:
glob.glob('data/google_places_results/*.json')

['data/google_places_results\\results_01.json',
 'data/google_places_results\\results_02.json',
 'data/google_places_results\\results_03.json',
 'data/google_places_results\\results_04.json',
 'data/google_places_results\\results_05.json',
 'data/google_places_results\\results_06.json',
 'data/google_places_results\\results_07.json',
 'data/google_places_results\\results_08.json',
 'data/google_places_results\\results_09.json',
 'data/google_places_results\\results_10.json',
 'data/google_places_results\\results_11.json',
 'data/google_places_results\\results_12.json',
 'data/google_places_results\\results_13.json',
 'data/google_places_results\\results_14.json',
 'data/google_places_results\\results_15.json',
 'data/google_places_results\\results_16.json',
 'data/google_places_results\\results_17.json',
 'data/google_places_results\\results_18.json',
 'data/google_places_results\\results_19.json',
 'data/google_places_results\\results_20.json',
 'data/google_places_results\\results_21.json',
 'data/google_places_results\\results_22.json',
 'data/google_places_results\\results_23.json',
 'data/google_places_results\\results_24.json',
 'data/google_places_results\\results_25.json',
 'data/google_places_results\\results_26.json',
 'data/google_places_results\\results_27.json',
 'data/google_places_results\\results_28.json',
 'data/google_places_results\\results_29.json',
 'data/google_places_results\\results_30.json',
 'data/google_places_results\\results_31.json',
 'data/google_places_results\\results_32.json',
 'data/google_places_results\\results_33.json',
 'data/google_places_results\\results_34.json',
 'data/google_places_results\\results_35.json',
 'data/google_places_results\\results_36.json',
 'data/google_places_results\\results_37.json',
 'data/google_places_results\\results_38.json',
 'data/google_places_results\\results_39.json',
 'data/google_places_results\\results_40.json',
 'data/google_places_results\\results_41.json',
 'data/google_places_results\\results_42.json',
 'data/google_places_results\\results_43.json',
 'data/google_places_results\\results_44.json',
 'data/google_places_results\\results_45.json',
 'data/google_places_results\\results_46.json',
 'data/google_places_results\\results_47.json',
 'data/google_places_results\\results_48.json',
 'data/google_places_results\\results_49.json']

In [64]:
# with open('data/google_places_results\\results_49.json', 'r') as fi:
#      googleplace_json = json.load(fi)

In [62]:
data = pd.read_json('data/google_places_results\\results_49.json')
data.shape

(29, 3)

In [101]:
data['results'][0][0]['name']

'Butcher & Bee'

In [102]:
data['results'][0][0]['vicinity']

'902 Main Street, Nashville'

In [103]:
data['results'][0][0]['types']

['restaurant', 'food', 'point_of_interest', 'establishment']

In [106]:
df = pd.DataFrame()

In [107]:
for i in glob.glob('data/google_places_results/*.json'):
    df_new = pd.read_json(i)
    df = pd.concat([df,df_new])

4829

In [122]:
name1 = df.iloc[0]['results'][0]['name']

In [148]:
name1 = df.iloc[2]['results'][0]['vicinity']
name1

'2607 12th Avenue South, Nashville'

In [124]:
name2 = df.iloc[0]['results'][1]['name']

In [143]:
name1=[]
name2=[]
name3=[]
name4=[]
name5=[]

In [144]:
for i in range (4829):
    name=df.iloc[i]['results'][0]['name']
    name1.append(name)
    
    name=df.iloc[i]['results'][1]['name']
    name2.append(name)
    
    name=df.iloc[i]['results'][2]['name']
    name3.append(name)
    
    name=df.iloc[i]['results'][3]['name']
    name4.append(name)
    
    name=df.iloc[i]['results'][4]['name']
    name5.append(name)

In [180]:
for a in range(5):
    vars()['add'+str(a)]

In [170]:
vars()['add'+str(0)].append('heha')

In [175]:
add1=[]
add2=[]
add3=[]
add4=[]
add5=[]

In [176]:
for i in range (4829):
    for a in range (5):
        add=df.iloc[i]['results'][a]['vicinity']
        vars()['add'+str(a+1)].append(add)

In [177]:
types1=[]
types2=[]
types3=[]
types4=[]
types5=[]

In [178]:
for i in range (4829):
    for a in range (5):
        types=df.iloc[i]['results'][a]['types']
        vars()['types'+str(a+1)].append(types)